@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
}

body {
    min-height: 100vh;
    background-color: whitesmoke!important;
}