@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
}


/* Scrollbar */

* {
    scrollbar-width: thin;
    scrollbar-color: #38ada9 #3d3d3d;
}

*::-webkit-scrollbar {
    width: 0.75vw;
}

*::-webkit-scrollbar-thumb {
    background-color: #38ada9;
}

*::-webkit-scrollbar-track {
    background-color: #3d3d3d;
}

body {
    min-height: 100vh;
    background-color: whitesmoke!important;
}