.content {
    text-align: justify;
    padding: 1.5em 8em;
}


/* --- NEWS CSS --- */

.content .header {
    font-size: 46px;
    font-weight: bold;
}

.content .news-content {
    border-bottom: 1px solid #101215;
}

.content .news-content img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10px;
    max-width: 100%;
}


/* --- RELATED-NEWS CSS --- */

.content .related-news-container {
    min-height: 15px;
    max-height: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.content .related-news-container .related-news {
    float: left;
    display: flex;
    align-items: center;
    width: 400px;
    height: 100px;
    text-align: justify;
    position: relative;
    padding-right: .5em;
    color: #101215;
}

.content .related-news-container .related-news a {
    display: block;
    z-index: 10;
}

.content .related-news-container .related-news a:hover {
    color: brown;
}

.content .related-news-container .related-news img {
    min-width: 160px;
    min-height: 100px;
    width: 160px;
    height: 100px;
    margin-right: .5em;
}

.content .related-news-container .related-news .news-frame {
    width: 370px;
    height: 125px;
    position: absolute;
    top: -10px;
    right: 0;
    margin: auto;
    border: 1px solid green;
    pointer-events: none;
}


/* --- COMMENT CSS --- */

.content .comments {
    border-top: 1px solid #101215;
}

.content .comments .write-comment-container {
    background-color: lightgray;
    padding: 1.5em 1em;
    border-radius: 10px;
}

textarea {
    width: 100%;
    height: 5em;
    min-width: 100%;
    max-width: 100%;
}

.content .comments .comment {
    padding: .5em;
}

.content .comments .comment .comment-header {
    display: inline-block;
    font-size: 22px;
}

.content .comments .comment .comment-header>small {
    font-size: 14px;
}