/* ----- CONTENT CSS ----- */

.content {
    position: relative;
    padding: 1em 0;
    min-height: 100vh;
    text-align: justify;
}


/* ----- MENU CSS ----- */

.menu {
    background-color: #101215;
    box-sizing: initial;
    width: 100%;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.menu .list,
.menu .logo {
    position: relative;
    width: 12%;
    float: left;
}

.menu .list a,
.menu .logo a {
    font-weight: bold;
    line-height: 4em;
    color: #d2b48c;
    display: block;
    text-align: center;
}

.menu .logo img {
    height: 7.5em;
}

.menu .list a::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background-color: greenyellow;
    transition: width .4s ease-out;
}

.menu .list:hover>a::after,
.menu .list.active>a::after {
    width: 100%;
}

.menu .list.dropdown:hover .dropdown-content {
    /* display: block; */
    z-index: 99;
    opacity: 1;
    transform: translateY(-2px);
}

.menu .list.dropdown:hover .dropdown-content a:hover {
    color: rgba(210, 180, 140, .7);
}

.menu .list .dropdown-content {
    width: 100%;
    position: absolute;
    background-color: #10121598;
    border-radius: 0 0 12px 12px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, .75);
    z-index: -1;
    /* display: none; */
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity .5s ease-in-out, transform .5s ease-in-out;
}


/* ----- MAIN CSS ----- */

.main {
    margin: 0 5em 2em 5em;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ----- SEARCH BOX CSS ---- */

.main .search {
    width: 400px;
    position: relative;
}

.main .search i {
    background: transparent;
    display: inline-block;
    font-size: 20px;
    position: absolute;
    top: 1.7em;
    left: .5em;
    z-index: 2;
}

.main .search input {
    width: 100%;
    display: block;
    font-size: 24px;
    margin-top: 1em;
    margin-bottom: 2em;
    padding-left: 16px;
    text-align: center;
}

.main .search input:focus {
    outline: none;
}


/* ----- FOOTER CSS ----- */

footer {
    width: 100%;
    height: 30vh;
    text-align: center;
    background-color: #171717;
    color: white;
    padding: 2em 0;
}

footer .up {
    font-size: 14px;
    margin-bottom: 1.5em;
}

footer .down {
    font-size: 14px;
    margin-top: 1.5em;
}

footer .contact {
    display: inline-block;
    width: 10em;
    text-align: center;
}

footer .contact .icon {
    font-size: 20px;
}

footer .contact a {
    color: white;
    display: inline-block;
    margin: 4px;
}